<%- include('header'); -%>
<section class="own-list">
<h1 class='headline'><%= title %></h1>

<a class='logout'href="/logout" role="button">Log out</a>
<form action="/category/<%= title %>" method="post">
    <input type="text" name="task">
    <div class="wrapper__micro">
        <i class="fas fa-microphone-alt"></i>
    </div>
    <input type="submit" value="Add" name="send">
    <input type="hidden" name="categoryName" value="<%=paramName%>">
</form>


<ul>
    <% tasks.forEach((element, index )=> { %>
        <form action="/category/<%= title %>/delete" method="post">
            <li class="checklist">
                <input type="checkbox"  class='int' name="complete" id="list<%=index%>">
                <label class='label-input' for="list<%=index%>"><%= element.task %></label> 
                <span class="category__date"><%= element.date ? `Created: ${new Date(element.date).
                    toLocaleString('en-UK')}` : null %></span>
                <button class="btn-delete" name="idElement" type="submit" value="<%= element._id %>"
                    onChange="this.form.submit()">
                    <i class="trash"></i>
                </button>
            </li>
    <input type="hidden" name="listName" value="<%=paramName%>">
        </form>
        <% }); %>
    </ul>

<a class="home-link" href="/home">Back to home</a>
</section>
<%- include('footer'); -%>