<%- include('header'); -%>
<section class="own-list">


<h1 class='headline'>Finance</h1>

<form action="/finance" method="post">
    <input type="text" name="task">
    <input type="submit" value="input" name="send">
</form>
<ul>
    <% finance.forEach((element, index )=> { %>
    <form action="/delete-finance" method="post">
        <li class="checklist">
            <input type="checkbox" class='int' name="complete" id="list<%=index%>">
            <label class='label-input' for="list<%=index%>"><%= element.finance %></label>
            <button class="btn-delete" name="checkbox" type="submit" value="<%= element._id %>"
                onChange="this.form.submit()">
                <i class="trash"></i>
            </button>
        </li>
    </form>
    <% }); %>
</ul>
<a class="home-link"href="/">Back to home</a>
</section>
<%- include('footer'); -%>