<%- include('header'); -%>
<h1>Finance</h1>

<form action="/finance" method="post">
    <input type="text" name="name2">
    <input type="submit" value="input" name="name1">
</form>
<ul>
    <% finance.forEach((element, index )=> { %>
    <form action="/delete-finance" method="post">
        <li class="checklist">
            <input type="checkbox" name="complete" id="list<%=index%>">
            <label for="list<%=index%>"><%= element.finance %></label> to jest index:
            <input class="input-delete" type="checkbox" value="<%= index %>" name="checkbox"
                onChange="this.form.submit()">
        </li>
    </form>
    <% }); %>
</ul>
<a href="/">Back to home</a>

<%- include('footer'); -%>