<%- include('header'); -%>
<section class="own-list">
<h1 class='headline'>Health</h1>

<form action="/health" method="post">
    <input type="text" name="task">
    <input type="submit" value="input" name="send">
</form>
<ul>
    <% health.forEach((element, index )=> { %>
    <form action="/delete-health" method="post">
        <li class="checklist">
            <input class='int' type="checkbox" name="complete" id="list<%=index%>">
            <label class='label-input' for="list<%=index%>"><%= element.health %></label> 
            <input class="input-delete" type="checkbox" value="<%= element._id %>" name="checkbox"
                onChange="this.form.submit()">
        </li>
    </form>
    <% }); %>
</ul>
<a class="home-link" href="/">Back to home</a>
</section>
<%- include('footer'); -%>