<%- include('header'); -%>
<h1>Health</h1>

<form action="/health" method="post">
    <input type="text" name="task">
    <input type="submit" value="input" name="send">
</form>
<ul>
    <% health.forEach((element, index )=> { %>
    <form action="/delete-health" method="post">
        <li class="checklist">
            <input type="checkbox" name="complete" id="list<%=index%>">
            <label for="list<%=index%>"><%= element.health %></label> to jest index:
            <input class="input-delete" type="checkbox" value="<%= index %>" name="checkbox"
                onChange="this.form.submit()">
        </li>
    </form>
    <% }); %>
</ul>
<a href="/">Back to home</a>

<%- include('footer'); -%>