<%- include('header'); -%>


<section class="all">
    <h1 class='headline'>Task for Today </h1>
    <form action="" method="post">
        <input type="text" name="name2">
        <input type="submit" value="input" name="name1">
        <input type="hidden" name="listName" value="List"></input>
    </form>



    <ul>

        <% people.forEach((element, index )=> { %>
        <form action="/delete" method="post">
            <li class="checklist">
                <input type="checkbox" class='int' name="complete" id="list<%=index%>">
                <label class='label-input' for="list<%=index%>"><%= element.name %> </label> <span>to jest index:
                </span>
                <button class="btn-delete" name="checkbox" type="submit" value="<%= element._id %>"
                    onChange="this.form.submit()">
                    <i class="trash"></i>
                </button>
            </li>
        </form>

        <% }); %>
    </ul>

</section>



<section class="category-list">
    <ul id="own-list">

        <p class='headline'>Create your own list </p>
        <form action="/another-list" method="post">
            <input type="text" name="ownList" id="">
            <input type="submit" value="add" id='add'>
        </form>

        <% list.forEach((el,index )=> { %>
        <form action="/delete" method="post">
            <li class='category own-category'>
                <a class="own-category__link" href="/<%= el %>"><%= el.list %> <%= el._id %></a>
                <label for="own-category__container-input"></label>
                <button class="btn-delete" name="checkboxown" type="submit" value="<%= el._id%>"
                    onChange="this.form.submit()">
                    <i class="trash"></i>
                </button>
                <!-- <input class="own-category__input" type="checkbox" id='trash-section' value="<%= index %>"
                    name="checkboxown" onChange="this.form.submit()">
                <label class='label__trash' for="trash-section"><i class="trash"></i></label> -->
                <span class="own-category__span-input"></span>
            </li>
        </form>
        <% }); %>
        <li class='category category-work'><a href="/work">Work</a></li>
        <li class='category category-finance'><a href="/finance">Finance</a></li>
        <li class='category category-self'><a href="/self-development">Self Development</a></li>
        <li class='category category-fandf'><a href="/fandf">Family & friends</a></li>
        <li class='category category-hobby'><a href="/hobby">Hobby</a></li>
        <li class='category category-health'><a href="/health">Health</a></li>


    </ul>
</section>
<script>
    const ul = document.querySelectorAll('#own-list li').length;
    const add = document.querySelector('#add');
    console.log(ul)
    if (ul > 10) {
        add.disabled = true;
        const p = document.createElement('p')
        p.textContent = 'Limis of Section. Buy Premium'
        document.querySelector('#own-list').appendChild(p)

    }
</script>
<%- include('footer'); -%>