<%- include('header'); -%>
<h1>Self Development</h1>
<h1><%=param %></h1>
<form action="/self" method="post">
    <input type="text" name="task">
    <input type="submit" value="input" name="send">
    <input type="hidden" name="param" value="<%=param %>">
</form>
<ul>
    <% self.forEach((element, index )=> { %>
    <form action="/delete-self" method="post">
        <li class="checklist">
            <input type="checkbox" name="complete" id="list<%=index%>">
            <label for="list<%=index%>"><%= element.self %></label> to jest index:
            <input class="input-delete" type="checkbox" value="<%= index %>" name="checkbox"
                onChange="this.form.submit()">
        </li>
    </form>
    <% }); %>
</ul>
<a href="/">Back to home</a>

<%- include('footer'); -%>