<%- include('header'); -%>
<section class="own-list">

<h1 class='headline'>Self Development</h1>
<h1 class='headline'><%=param %></h1>
<form action="/self" method="post">
    <input type="text" name="task">
    <input type="submit" value="input" name="send">
    <input type="hidden" name="param" value="<%=param %>">
</form>
<ul>
    <% self.forEach((element, index )=> { %>
    <form action="/delete-self" method="post">
        <li class="checklist">
            <input class='int'  type="checkbox" name="complete" id="list<%=index%>">
            <label class='label-input'  for="list<%=index%>"><%= element.self %></label> 
            <button class="btn-delete" name="checkbox" type="submit" value="<%= element._id %>"
                onChange="this.form.submit()">
                <i class="trash"></i>
            </button>
        </li>
    </form>
    <% }); %>
</ul>
<a class="home-link" href="/">Back to home</a>
</section>
<%- include('footer'); -%>