<%- include('header'); -%>
<h1>Work</h1>

<form action="/work" method="post">
    <input type="text" name="task">
    <input type="submit" value="input" name="send">
    </form>
    <ul>
    <% work.forEach((element, index )=> { %>
        <form action="/delete-work" method="post">
          <li class="checklist"> 
            <input type="checkbox" name="complete" id="list<%=index%>"> 
            <label for="list<%=index%>"><%= element.work %></label> to jest index: 
            <input class="input-delete" type="checkbox"
                value="<%= index %>" name="checkbox" onChange="this.form.submit()">
                </li>
        </form> 
    <% }); %>
    </ul>
    </ul>
<a href="/">Back to home</a>

<%- include('footer'); -%>