<%- include('header'); -%>
<section class="own-list"></section>
<h1 class='headline'>Work</h1>

<form action="/work" method="post">
    <input type="text" name="task">
    <input type="submit" value="input" name="send">
</form>
<ul>
    <% work.forEach((element, index )=> { %>
    <form action="/delete-work" method="post">
        <li class="checklist">
            <input class='int' type="checkbox" name="complete" id="list<%=index%>">
            <label class='label-input' for="list<%=index%>"><%= element.work %></label> 
            <button class="btn-delete" name="checkbox" type="submit" value="<%= element._id %>"
                onChange="this.form.submit()">
                <i class="trash"></i>
            </button>
        </li>
    </form>
    <% }); %>
</ul>

<a class="home-link" href="/">Back to home</a>
</section>
<%- include('footer'); -%>